body {
  margin: 0;
  font-family: -webkit-pictograph;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: grid;
}
input {
  margin: 10px;
}